<h1>Here are all of the ingredients:</h1>

<a href="/">Return To Home</a>

<ul>
  <% @ingredients.each do |ingredient| %>
  <li><a href="/ingredient/<%= ingredient.id%>">Ingredient Name: <%= ingredient.name %></a></li>
  <% end %>
</ul>

<h4> Add an ingredient below:</h4>

   <form action="/add_ingredient" method="post">
     <label for="name">Name:</label>
     <input id="name" name="name" type="text">
     <button type="submit">Submit</button>
   </form>
