<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <!-- <link rel='stylesheet' type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
  <link rel='stylesheet' type='text/css' href="/public/styles.css">
</head>
<body>
  <%= yield %>
</body>
</html>
