<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <link rel='stylesheet' type='text/css' href='"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"'>
</head>
<body>
  <%= yield %>
</body>
</html>
