@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

h1, h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0 0 20px 0;
}

body {
  background: #f9f9f9;
  padding: 10px;
}

.recipe > div {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}
.recipe > h1 {
  margin: 0 0 10px 10px;
}
.recipe-image img {
  max-width: 100%;
}
.recipe-text {
  width: 320px;
  float: right;
}

.linkbox {
  border:1px solid #888;
  background:#f9f9f9;
  padding:10px;
  width:500px;
  margin-bottom:1em;
  }
